[user]
  name = Andy Newport
	email = andy.newport@nec.co.nz
[color]
  diff = auto
  status = auto
  branch = auto
[core]
	excludesfile = ~/.gitignore_global
#[format]
#  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s
[merge]
  tool = vim
  cmd=/usr/bin/vim -d -g $LOCAL $MERGED $REMOTE
  keepbackup=false
[push]
  default = upstream
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
